.category-form-container {
    .upload-section {
        .custom-label {
            font-size: 16px;
            font-weight: 400;
            color: #565656;
        }
        img {
            padding-top: 15px;
            width: 200px;
        }
    }
    .btn {
        margin-top: 15px;
    }
}